body {
font-family: "Inter", sans-serif;
font-weight: 400;
max-width: 1468px;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-size: inherit;
  }
  
  ul,
  ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    color: inherit;
    padding: 0;
    outline: none;
  }
  
  input,
  textarea,
  select {
    background-color: inherit;
    color: inherit;
    outline: none;
    margin: 0;
  }
  
  textarea {
    resize: none;
  }
  
  /* img {
    display: block;
    width: 100%;
    height: auto;
  } */

  /* HEADER */

.header {
width: 1464px;
height: 36px;
background: #f9f0e5;
margin-bottom: 33px;
}  

.header-div {
    display: flex;
    justify-content: center;
}

.header-text {
font-size: 11px;
line-height: 3.18182;
letter-spacing: 0.08em;
color: #565656;
position: relative;
}

.header-text:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px; 
    background-color: rgba(86, 86, 86, 0.5);
    margin-left: 10px; 
    margin-right: 10px;
    vertical-align: middle;
}

/* MAIN */

.container {
max-width: 1253px;
margin-left: 96px;
margin-right: 96px;
}

.div-main {
    display: flex;

height: 422px;
margin-top: 62px;
}

.div-main-image {
width: 100%;
  height: 100%;
  background-image: url("./images/main-img.png");
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat; 
}

.main-text {
font-size: 38px;
line-height: 1.18421;
letter-spacing: 0.04em;
color: #01005b;
width: 592px;
}

.div-info {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 18px;
}

.raund {
    width: 31px;
    height: 31px; 
    border-radius: 50%; 
    background-color: #f9f0e5;
    padding: 0 6px; 
    display: flex;
    align-items: center;  
    justify-content: center; 
    box-sizing: border-box; 
  }

.div-info-text {
font-size: 15px;
line-height: 1.53333;
letter-spacing: 0.03em;
color: #676869;
}

.div-block {
    width: 356px;
    height: 56px;
    border-radius: 5px;
    background: #01005b;
    margin-top: 39px;
    position: relative;
    display: flex;             
    align-items: center;        
    justify-content: center; 
    cursor: pointer;
}

.div-bloc-text {
    font-size: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;

}

.line {
    position: absolute;
    top: 35px;
    right: 30px;
}

/* SECTION THREE */

.div1-three {
    width: 1468px;
    height: 803px;
    background: #f0eeef;
  }
  
  .div-three {
    display: flex;
    padding-top: 83px;
    padding-bottom: 56px;
    gap: 103px;
  }
  

  .div-three-two-text {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: #2a2996;
    margin-bottom: 65px;
  }

  .text-span {
font-size: 15px;
line-height: 1.53333;
letter-spacing: 0.03em;
color: #6c6c6c;
margin-bottom: 17px;
  }

  /* SECTION FOUR */


  .four-text {
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.04em;
text-align: center;
color: #01005b;
margin-top: 75px;
margin-bottom: 46px;
  }

  .div-opt {
    display: flex;
    gap: 41px;
    text-align: center;

  }

  .div-opt1 {
border: 1px solid #ededed;
border-radius: 8px;
width: 346px;
height: 321px;
background: #f0eeef;
padding-left: 35px;
padding-right: 36px;
  }

  .img-div-opt1 {
width: 51px;
height: 51px;
margin-top: 77px;
margin-bottom: 16px;
  }

  .text-viv-opt1 {
font-size: 22px;
line-height: 1.81818;
letter-spacing: 0.04em;
color: #01005b;
margin-bottom: 19px;
  }

  .span-div-opt1 {
    font-size: 15px;
    line-height: 1.53333;
    letter-spacing: 0.03em;
    text-align: center;
    color: #676869;
  }

  .div-block1 {
    width: 369px;
    height: 56px;
    border-radius: 5px;
    background: #01005b;
    display: flex;             
    align-items: center;        
    justify-content: center; 
    cursor: pointer;
    margin-top: 56px;
    display: flex;
    gap: 10px;
    margin-left: 542px;
  }

  .line1 {
    top: 35px;
    right: 30px;
  }

  .div-stars {
    display: flex;
    gap: 10px;
margin-left: 583px;
margin-top: 10px;
  }

  .text-starts {
font-size: 12px;
line-height: 1.66667;
letter-spacing: 0.02em;
color: #828282;
  }

  /* SECTION-FIVE */

  .section-five {
    margin-top: 74px;
    text-align: center;
  }

  .text-five {
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.04em;
color: #01005b;
margin-bottom: 65px;
  }

  .tex-five {
font-size: 15px;
line-height: 1.53333;
letter-spacing: 0.03em;
color: #676869;
width: 620px;
text-align: center;
margin: 0 auto;
margin-bottom: 55px;
  }

  .img-five {
  width: 1465px;
height: 262px;
margin-bottom: 75px;
  }

  .div-five1 {
    height: 252px;
    background-color: #ebebeb;
    margin-bottom: 63px;
  }

  /* SECTION-SIX */

  .section-six {
    margin-top: 109px;
  }

  .div-six {
    display: flex;
    gap: 88px;
  }

    .div-six2 {
      background-image: url('./images/info11.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 430px;
      height: 645px;
    }

    .text-six {
      font-size: 32px;
      line-height: 1.25;
      letter-spacing: 0.04em;
      color: #01005b;
      margin-bottom: 75px;
        }

    .hr {
    stroke-width: 1px;
    stroke: #eaeaea;
    margin-bottom: 23px;
    }

    .div-six-box {
margin-bottom: 24px;
    }

  .div-six-box-text {
display: flex;
gap: 562px;
    }

    .div-six-text {
font-weight: 400;
font-size: 18px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #01005b;
margin-bottom: 10px;
    }

    .div-six-text-p {
font-weight: 400;
font-size: 15px;
line-height: 1.46667;
letter-spacing: 0.03em;
color: #676869;
    }

    /* SECTION-SAVEN  */

    .section-saven {
      margin-top: 108px;
      height: 246px;
      background-color: #f0eeef;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; /* вертикальное центрирование */
    }
    
    .div-main {
      display: flex;
      justify-content: center;
      align-items: center;    
      gap: 30px; 
    }
    
    .div-seven {
      width: 257px;           
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 15px; 
      height: 100%;   
      margin-top: -90px;
    }
    
    /* Линии между блоками */
    .div-seven:not(:last-child) {
      border-right: 1px solid rgba(196, 196, 196, 0.5);
      
    }
    
    /* Заголовок секции */
    .saven-text {
      font-size: 25px;
      line-height: 1.6;
      letter-spacing: 0.04em;
      color: #15005b;
      padding-top: 39px;
      margin-bottom: 18px;
      text-align: center;
    }
    
    /* Круг с иконкой */
    .option {
  width: 42px;
  height: 42px;
  border-radius: 50%;         
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;    
  box-sizing: border-box;      
}
.option img {
  width: 60%;   
  height: auto;
}
    
    /* Основной текст блока */
    .saven-p {
      font-weight: 600;
      font-size: 22px;
      line-height: 0.90909;
      letter-spacing: 0.02em;
      color: #15005b;
      margin-bottom: 8px;
    }
    
    /* Подпись под текстом */
    .saven-spam {
      font-size: 14px;
      line-height: 1.42857;
      letter-spacing: 0.03em;
      text-align: center;
      color: #15005b;
    }

    /* SECTION-EIGHT */

    .section-eight {
      text-align: center;
      background-color: linear-gradient(180deg, #f9f0e5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);;
    }

    .eight-text {
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.04em;
color: #01005b;
margin-top: 84px;
margin-bottom: 26px;
    }

  .eight-p {
font-size: 15px;
line-height: 1.46667;
letter-spacing: 0.03em;
color: #676869;
margin-bottom: 44px;
  } 
  
  .eight-img {
  width: 815px;
height: 372px;
margin-bottom: 56px;
  }

  .eight-cosial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    gap: 17px;
  }
  
  .eight-cosial1 {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    padding-right: 17px; 
  }
  
  .eight-cosial1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,0.3); 
  }

  .eight-text1 {
font-size: 10px;
line-height: 1.7;
letter-spacing: 0.04em;
color: #1fad40;
  }
 

  /* FOOTER */

 .footer {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  min-height: 200px; 
  background: linear-gradient(
    180deg,
    #f9f0e5 0%,
    rgba(249, 240, 229, 0.18) 43.05%,
    rgba(249, 240, 229, 0) 100%
  );
}

  .div-footer {
    display: flex;
    justify-content: center;
    gap: 40px;

  }

  .div-footer-box {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 12px;

  }

  .footer-img {
    width: 33px;
height: 33px;
  }
  
  .div-footer-box:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 32px; 
    background-color: rgba(86, 86, 86, 0.5);
    margin-left: 10px; 
    margin-right: 10px;
    vertical-align: middle;
}

.swiper {
  width: 600px;
  height: 300px;
}



